<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Book - Dax</title>
        <link rel="stylesheet" href="/book.css">
        <link rel="icon" href="/logo.png">
    </head>
    <body>

        <header>
            <a href="/"><img src="/logo.png" alt="logo"></a>
            <nav>
                <a href="/search">Discover</a>
            </nav>
            <div>
                <p id="welcome">Welcome, {{current_user.full_name}}</p>
                <button id="logout">Logout</button>
            </div>
        </header>
        <div id="alert"></div>
        <div id="modal">
            <div class="logout">
                <img src="/close_icon.png" class="cancel">
                <div>Are you sure you want to logout?</div>
                <div>
                    <button>Logout</button>
                </div>
            </div>
        </div>
        <main>
            <h1 id="title"></h1>
            <h3 id="author"></h3>
            <h3 id="user"></h3>
            <p id="content"></p>
        </main>
        <footer>
            <p>&copy; 2024 Dax Library. All rights reserved.</p>
        </footer>
        <script src="/book.js"></script>
    </body>
</html>