body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    text-align: center;
}

h1{
    font-size: 13rem;
    margin: 0;
}

p{
    font-size: 2rem;
}

.redirect-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #8d6e63;
    color: white;
    border: none;
    border-radius: 5px;
    text-decoration: none;

}

.redirect-button:hover {
    background-color: #795548;

}