body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.header h1 {
    margin: 0;
    font-size: 2em;
    color: black;
    text-align: center;
    flex-grow: 1; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(63, 46, 40, 0.9);
    color: white;
    padding: 1rem;
    text-align: center;
}

header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

header div {
    display: flex;
    gap: 2rem;
}

header button {
    border: none;
    background-color: #3e2723;
    color: white;
    border-radius: 4px;
    padding: 0.8rem;
    cursor: pointer;
}

#alert{
    position: absolute;
    top: 40px;
    left: 0;
    opacity: 0;
    padding: 1.3rem;
    border-radius: 6px;
    transition: all 250ms ease-in
}

#alert.active{
    left: 40px;
    opacity: 1;
}

#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
    place-content: center;
}

#modal > * {
    display: none;
    position: relative;
    border-radius: 6px;
    background-color: white;
}

#modal .cancel {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

#modal .logout {
    display: none;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 100px;
}

#modal .logout div:last-child {
    width: 100%;
    text-align: center;
}

#modal .logout button {
    border: none;
    background-color: #3e2723;
    border-radius: 4px;
    padding: 0.7rem;
    cursor: pointer;
    color: white;
}

#modal .logout button:hover {
    background-color: #795548;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.search-container {
    width: 100%;
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
}

#searchBar {
    width: 80%;
    padding: 16px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    gap: 1rem;
    width: 100%;
}

.grid-item {
    background-color: rgba(63, 46, 40, 0.9);
    color: white;
    text-align: center;
    border-radius: 5px;
    width: 100%;
    transition: background-color 0.9s;
}

.grid-item:hover {
    background-color: black;
}

footer {
    background-color: rgba(51, 34, 29, 0.9);
    color: white;
    text-align: center;
    padding: 1rem 0;
    position: fixed;
    width: 100%;
    height: 3rem;
    bottom: 0;
}

.loading-placeholder {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: loadingAnimation 1.5s infinite;
    border-radius: 4px;
}

@keyframes loadingAnimation {
    0% {
        background-position: 200% 0;
    }
    100% {
        background-position: -200% 0;
    }
}
