<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/login.css">
  <link rel="icon" href="./logo.png">
  <title>Login - Dax</title>
</head>
<body>
  
  <main class="login-wrap">
    <div class="login-html">
      <label for="tab-1" class="tab">Sign In</label>
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="sign-in-username" class="label">Username</label>
            <input id="sign-in-username" type="text" class="input">
          </div>
          <div class="group">
            <label for="sign-in-password" class="label">Password</label>
            <input id="sign-in-password" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <a href="/register" class="button">REGISTER</a>
          </div>
          <div class="group">
            <a href="#" class="button" id="sign-in-btn">Sign In</a>
          </div>
        </div>
      </div>
    </main>

  <script src="/login.js"></script>
</body>
</html>
