<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/register.css">
  <link rel="icon" href="/logo.png">
  <title>Register - Dax</title>
</head>
<body>

  <div id="alert"></div>
  
  <main class="login-wrap">
    <div class="login-html">
      <label for="tab-2" class="tab">Sign Up</label>
      <div class="login-form">
        <div class="sign-up-htm">
          <div class="group">
            <label for="sign-up-fullname" class="label">Full Name</label>
            <input id="sign-up-fullname" type="text" class="input">
          </div>
          <div class="group">
            <label for="sign-up-username" class="label">Username</label>
            <input id="sign-up-username" type="text" class="input">
          </div>
          <div class="group">
            <label for="sign-up-password" class="label">Password</label>
            <input id="sign-up-password" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <label for="confirm-password" class="label">Confirm Password</label>
            <input id="repeat-password" type="password" class="input" data-type="password">
          </div>
          <div class="group">
            <a href="#" class="button" id="sign-up-btn">Sign Up</a>
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1"><a href="/login">Already Member?</a></label>
          </div>
        </div>
      </div>
    </div>
  </main>

  <script src="/register.js"></script>
</body>
</html>
